#main {
  padding: 0;
}

#main .carousel-item-main-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main .carousel-indicators {
  margin-top: 10px !important;
  position: fixed;
  bottom: 40px;
}

#main .carousel-item-main-display .carousel-date {
  justify-content: center;
  color: white;
  font-weight: 700;
}

#main .carousel-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .carousel-description-title {
  font-size: 13vw;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.555);
}

#main .carousel-description-temp {
  font-size: 50px;
  font-weight: 700;
  color: rgba(251, 251, 251, 0.952);
}

#main .carousel-item-detailed-display {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex-wrap: nowrap;
  margin: 0px 8px;
}

#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 2px 0px 2px;
  background: rgba(137, 196, 230, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.349);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px 15px;
  border-radius: 4px;
}

#forecast:hover {
  background-color: rgba(226, 226, 226, 0.726);
}

#forecast span {
  font-size: 18px !important;
  color: white !important;
}

#forecast .forecast-icon svg {
  color: white;
  font-size: 30px;
}

#bottom-menu {
  padding: 0px;
  z-index: 2;
}

#bottom-menu .bottom-menu-holder {
  align-items: center;
  margin: 8px 9px;
  padding: 5px 15px;
  background: rgba(153, 197, 223, 0.589);
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

#bottom-menu .bottom-menu-item-icon {
  justify-content: center;
  background-color: transparent !important;
}

#bottom-menu .col {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 0px 2px;
}

#bottom-menu .col:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

#bottom-menu svg {
  color: white;
  font-size: 30px;
}

#main img {
  height: 100%;
  width: 100% !important;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
