#main {
  height: 50vh;
  text-align: center;
  padding: 0px 8px;
}

#main .row {
  display: flex;
}

#main .row h6 {
  justify-content: center;
  color: white;
  font-weight: 700;
}

#main .row span {
  font-size: 110px;
  font-weight: 700;
  color: rgba(82, 76, 76, 0.205);
  position: relative;
}

#main .row span {
  font-size: 110px;
  font-weight: 700;
  color: rgba(82, 76, 76, 0.205);
}

#main .row h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgba(251, 251, 251, 0.952);
}

#main .row:last-child {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex-wrap: nowrap;
  margin: 0px 8px;
}

#forecast {
  display: flex;
  flex-direction: column;
  margin: 50px 2px 0px 2px;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 5px 15px;
  border-radius: 4px;
}

#forecast:hover {
  background-color: rgba(226, 226, 226, 0.726);
}

#forecast span {
  font-size: 18px !important;
  color: white !important;
}

#forecast span svg {
  color: white;
  font-size: 30px;
}

#buttonMenu {
  padding: 0px;
}

#buttonMenu .row {
  margin: 8px 17px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 4px;
}

#buttonMenu .col:first-child {
  justify-content: center;
  background-color: transparent !important;
}

#buttonMenu .col {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.39); */
  margin: 0px 2px;
}

#buttonMenu .col:hover {
  background-color: rgba(255, 255, 255, 0.39);
}




#buttonMenu svg {
  color: white;
  font-size: 30px;
}
