@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap');

*,
html {
  margin: 0;
  padding: 0;
}

.weather-app {
  height: 100vh;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-loader {
  text-align: center;
}

.weather-app .main-container {
  padding: 10px;
  position: relative;
}

/* Q U E R Y   B O X */

#query-box {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: red;
}

#query-box {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url('./assets/main-background.webp');
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

#query-box .query-box-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.801); /* Adjust opacity for desired darkness */
  z-index: 1;
  pointer-events: none; /* Ensure it doesn't interfere with content */
}

#query-box .query-box-container > * {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

#query-box .form-group {
  z-index: 2;
  display: flex;
}

#query-box .form-control {
  background: rgba(253, 253, 253, 0.5);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: none !important;
  color: white;
}

#query-box .form-control::placeholder {
  color: rgba(8, 8, 8, 0.411);
  font-size: 12px;
}
#query-box .form-control:focus {
  border: none;
  box-shadow: none;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.342) 1px solid !important;
}

#query-box .form-group button {
  display: none;
}

#query-box .query-box-background-text {
  font-size: 20vw;
  position: absolute;
  height: 400px;
  top: 50%;
  left: 5%;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.103);
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #query-box .query-box-background-text {
    top: 70%;
    height: 200px;
  }
}

/* L O C A T I O N */

#location {
  align-items: center;
  z-index: 2;
}

#location .location-container {
  backdrop-filter: blur(14.5px);
  border-radius: 12px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(153, 197, 223, 0.589);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  margin: 15px;
  align-items: center;
  text-align: center;
}

#location .location-city-name {
  font-size: 45px;
  font-weight: 700;
  position: relative;
  text-align: center;
  z-index: 2 !important;
}

#location .location-country-badge {
  height: 25px;
  width: 25px;
  font-size: 10px;
  font-weight: 600;
  background-color: rgba(51, 86, 133, 0.513);
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  top: 0px;
  right: -28px;
  z-index: 2 !important;
}
